<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../images/easeandedgelogo.png" type="images/png">
    <title>Easel &amp; Edge - Offers</title>
    <link rel="stylesheet" href="/styles/default.css">
</head>    
<body class="other-pages-background">
<%- include('../partials/header.ejs') %>

<main class="offers-page-main">
    <h1>Offers received for: <%= item.title %></h1>

    <% if (offers && offers.length > 0) { %>
        <div class="offers-table">
            <table>
                <thead>
                    <tr>
                        <th>Buyer</th>
                        <th>Amount</th>
                        <% if (item.active) { %>
                            <th>Action</th>
                        <% } else { %>
                            <th>Status</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% offers.forEach(offer=> {%>
                        <tr>
                            <td><%= offer.user.firstName %> <%= offer.user.lastName %></td>
                            <td>$<%= offer.amount %></td>
                            <% if (item.active) { %>
                                <td>
                                    <% if (offer.status === 'pending') { %>
                                        <form>
                                            <button type = "submit" formmethod = "POST" formaction = "/items/<%= item._id %>/offers/<%= offer._id %>/accept?_method=POST" class="accept-button">
                                                Accept
                                            </button>
                                        </form>
                                    <% } %>
                                </td>
                            <% } else { %>
                                <td><%= offer.status %></td>
                            <% } %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } else { %>
        <p>No offers have been received for this item yet.</p>
    <% } %>
</main>

<%- include('../partials/footer.ejs')%>